* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fire sans', sans-serif;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #023020;
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: ;
}